@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  margin: 0 10vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond-below(md) {
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    width: 50%;
    @include respond-below(md) {
      width: 100%;
    }
    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 3em;
      @include respond-below(sm) {
        font-size: 2em;
      }
      .boldText {
        font-style: normal;
        font-weight: bold;
        color: $orange-accent;
      }
    }
    .supportText {
      margin-top: -40px;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      color: $grey-accent;
      opacity: 0.6;
    }
    button {
      width: 150px;
      height: 66px;
      background-color: $orange-accent;
      color: white;
      border-radius: 10px;
      border: none;
      padding: 5px;
      font-size: 1em;
    }
    button:hover {
      background-color: white;
      color: $blue;
      cursor: pointer;
    }
  }
  .image{
    text-align: center;
    @include respond-below(md){
      margin-top: 50px;
    }
  }
}
