@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 8vw;;
    display: flex;
    justify-content: space-between;
    color: black;
    @include respond-below(md){
        margin: 0 2vw;
        flex-direction: column-reverse;
    }
    .content{
        width: 50%;
        @include respond-below(md){
            width: 100%;
        }
        @include respond-below(sm){
            width: 110%;
        }
        h1{
            text-transform: uppercase;
        }
        p{
            text-align: justify;
            span{
                color: $orange-accent;
            }
        }
    }
    .image{
        text-align: center;
    }
    
}