@import "../../styles/colors";
@import "../../styles/mixins";

.footer {
  position: relative;
  bottom: 0;
  margin-top: 150px;
  margin-bottom: -20px;
  padding: 20px;
  width: 100%;
  @include respond-below (sm){
    width: 110%;
  }

  background-color: $blue;
  a:hover {
    color: $orange-accent;
  }
  .container {
    display: flex;
    justify-content: space-around;
    @include respond-below(sm){
      flex-direction: column-reverse;
    }
  }
  .copyright {
    text-align: center;
    color: $orange-accent;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
