@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  height: 100%;
  padding-top: 30px;
  background-color: $blue;
  background-image: url("/images/grid-pattern.svg");
  margin-bottom: 100px;
  @include respond-below(sm) {
    height: 110vh;
    width: 110%;
    margin-bottom: 50px;

  }
}
